<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test-class Suite" parallel="tests" thread-count="2">
    <test name="Test-Calculator-" >
        <parameter name="platformVersion" value="8.0" />
        <parameter name="deviceName" value="Android Motogz" />
        <classes>
            <class name="Test" />
        </classes>
    </test>
</suite>