<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="/home/kamila/IdeaProjects/Testes/TestPeladeiros/src/test/java/edu/ifpb/peladeiros/tests/TestLogin.java">
        <classes>
            <class name="edu.ifpb.peladeiros.tests.TestLogin"/>
        </classes>
    </test>
</suite>